/*Version 1.0*/

	.progress{
		height: 35px;
	}


@media (max-width: 576px) {
	.contact_images{
		width:20vw;
	}
	.contacts_text{
		font-size: 6vw !important;
	}
}

@media (min-width: 576px) { 
	.progress{
		height: 35px;
	}
}


@media (min-width: 768px) {
	.progress{
		height: 70px;
		font-size: 2.5vw;
		font-weight: 300;
	}	
}


@media (min-width: 992px) {
	.progress{
		height: 80px;
		font-size: 1.9vw;
		font-weight: 300;
	}	
}


@media (min-width: 1200px) {
	.progress{
		height: 80px;
		font-size: 1.9vw;
		font-weight: 300;
	}	
}


body {
    /*background-image: url("circle_blur.png");*/
	background-size: 1920px 1080px;
	background-repeat: no-repeat;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

footer{
	background-color: white;
	padding: 15px;
	margin-top: 10vw;
	font-size: 13px;
}

h2{
	font-weight: 300;
	font-size: 5rem;
	padding-top: 10px;
	padding-bottom: 30px;
}



/*Background circles*/

.circle > img { 
  position: fixed; 
  height: auto;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  perspective: 1000;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
  transform: translateZ(0);
  z-index: -1;
}

.left_c > img{
	width: 95%;
	left: -25%;
	margin-top: -45vw;
}

.right_c > img{
	width: 75%;
	right: -8%;
	margin-top: 10vw;
}
/*Background circles ends*/


/*menu*/
.content {
	font-size: 380%;
    color: black;
	background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    padding: 5px;
    margin: 10px;
    border: solid 2px black;
    text-align: center;
  	transition-property: all;
	transition-duration: 0.5s;
    opacity: 0.94; 
}

a:link, a:visited{
color:#333333; 	
text-decoration:none;
}
a:hover, a:active{
color: #333333;
text-decoration:none;
}

.content:hover{
    width: 340px;
    opacity: 0.98; 
}

/*menu end*/


#intro_pc{
	position: relative;
	top: 35vh;
	color: #333333;
	font-size: 7vw;
	font-weight: 700;
	line-height: 8vw;
	text-shadow: -.1vw 0 .2vw white, 0 .1vw .2vw white, .1vw 0 .2vw white, 0 -.1vw .2vw white;
}

#intro_menu{
	color: #333333 ;
	margin-top: 10vw;
	font-size: 4vw;
}

.intro_mobile{
	color: grey;
	padding-top: 20vw;
	line-height: 14vw;
	font-weight: 300;
	white-space: nowrap;
	text-shadow: 0 1px 1px #191919;
}

#About{
    margin-top: 10%;
    background-color: white;
	position: relative;
}



#Skills{
    margin-top: 10%;
    background-color: white;
	padding-bottom: 2%;
	box-shadow: 0 0 3px #ccc;
	}

	
	.progress-bar {
width:0;
text-shadow: 0 1px 1px grey;
/*background-color: #b3b3b3 !important;*/
  transition-duration: 3s;
}


	
#Projects{
	margin-top: 10%;
	padding-bottom: 40px;
    background-color: white;
}

#Contact{
    margin-top: 10%;
	background-color: white;
	padding-bottom: 40px;

}

.contacts_text{
	font-size: 3.5vw;
	font-weight: 300;
	
}

